.admin-container {
  max-width: 420px;
  margin: 0 auto;
  padding: 16px;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

.admin-logo {
  display: block;
  margin: 0 auto 10px;
  width: 160px;
}

.admin-banner {
  display: block;
  margin: 0 auto 10px;
  width: 300px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  margin: 14px 0 8px;
}

.admin-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.admin-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.admin-btn img {
  width: 100px;
  
  margin-bottom: 6px;
}

.admin-btn span {
  font-size: 13px;
  font-weight: 600;
  color: #e02626;
}

/* Productos */
.productos-lista {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.producto {
  width: 30%;
  text-align: center;
  border-radius: 10px;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto p {
  margin: 4px 0 2px;
  font-size: 13px;
  font-weight: 500;
}

.producto span {
  color: #444;
  font-size: 12px;
}
